@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Inter";
  color: var(--white);
}

p,
li {
  font-size: 14px;
}
body {
  background-color: var(--off-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  text-align: center;
  background-color: var(--dark-grey);
  padding: 25px;
  height: 70vh;
  border-radius: 10px;
}

figure img {
  border-radius: 50%;
  width: 25%;
  margin-bottom: 20px;
}
